.isotope {
	transition-property: height, width;
}
.isotope-item {
	z-index: 2;
	transition-property: transform, opacity;
}
.isotope, .isotope-item {
	transition-duration: 0.8s;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}