h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h3 {
	margin: 0;
	font: inherit;
}

h4 {
	margin: 0;
	font: inherit;
}

h5 {
	margin: 0;
	font: inherit;
}

p {
	margin: 0;
}

i {
	font: inherit;
}

ul {
	margin: 0;
	padding: 0;
}
