body {
	background-color: #E8E8E8;
	font-family: 'open Sans', Arial;
	font-size: 12px;
	line-height: 1;
}

h1 {
	font-size: 37px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 13px;
}

h3.main-heading {
	border-bottom: 1px solid #ebebeb;
	color: #333;
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 14px;
	position: relative;
}
h3.main-heading::after {
	background: #fdc750;
	bottom: -1px;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	width: 40px;
}

a {
	color: inherit;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

#container {
	margin: 0 auto;
	width: 860px;
}
header {
	padding: 10px 0;
	margin: 20px 0;
}
#content {
	background-color: #FFF;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.hidden {
	display: none;
}
.transition {
	transition: all .5s ease;
}

.socialicons {
	display: flex;
	justify-content: flex-end;
	gap: 2px;
}
.socialicons * {
	background-color: #222;
	color: #FFF;
}
.socialicons a {
	font-family: 'icomoon';
	font-size: 16px;
	padding: 6px 8px;
}
.socialicons a:hover {
	color: #fdc750;
}
.socialicons .socials-text {
	height: 10px;
	padding: 9px;
}

#profile {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background: #fdc750 url(../images/header-shadow.png) no-repeat bottom;
	padding: 42px 20px;
}
.about .photo-inner {
	background: url(../images/photo-inner.png) no-repeat;
	float: left;
	padding: 0 20px;
}
.about h1 {
	color: #FFF;
	font-weight: 900;
	line-height: 34px;
}
.about h3 {
	color: #FFF;
	font-size: 18px;
	margin-top: 8px;
}
.about p {
	color: #a87f09;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-top: 15px;
}

.personal-info {
	background: url(../images/personal-info-sep.png) no-repeat left;
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	padding-left: 20px;
}
.personal-info > * {
	font-size: 14px;
	color: #a87f09;
}
.personal-info label {
	flex: 0 0 33.3%;
	font-weight: 600;
	padding: 4px 0 14px 7px;
}
.personal-info span {
	font-weight: 300;
	padding: 4px 0 14px;
}

.menu {
	background-color: #ededed;
}
.tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tabs li {
	padding: 17px 0;
}
.tabs li > a {
	color: #b9b9b9;
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	width: 115px;
	transition: top ease 0.5s;
	position: relative;
	top: 0;
}
/** 
 * only apply hover style on devices with hover capabilities
 * to prevent sticky hover state:
 * https://stackoverflow.com/a/28058919/9698467
 */
@media (hover:hover) {
	.tabs li:not(.active) > a:hover {
		top: -10px;
	}
}
.tabs li.active {
	margin-top: -11px;
	background: url('../images/tab-hover.png') no-repeat;
}
.tabs li.active a {
	color: #fdc750;
}
.tabs li > a > i {
	display: block;
	font-family: 'icomoon';
	font-size: 45px;
	margin-bottom: 5px;
}

#resume {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}
#resume .download-resume {
	width: 100%;
	padding: 10px 0;
	margin-bottom: 15px;
}
#resume .button {
	background-color: #8c8c8c;
	border-radius: 0 4px 4px 0;
	color: #f7f7f7;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin-left: -20px;
	text-align: center;
	width: 250px;
}
#resume .button:hover {
	background-color: #fdc750;
}

.timeline-section {
	display: flex;
	flex-direction: column;
	width: 490px;
}
.timeline-section > * {
	margin-bottom: 20px;
}
.timeline {
	display: flex;
	flex-direction: column;
}
/* .timeline li {
	margin-bottom: 20px;
}
.timeline li .left
{
   width:470px;
   float: left;
   padding-right:64px;
}
.timeline li .right
{
   float:left;
   width:270px;
} */

.timeline-unit {
	border-left: 1px solid #fdc750;
	line-height: 17px;
	padding-left: 15px;
	margin-bottom: 20px;
}
.timeline-unit h4 {
	color: #444;
	line-height: 24px;
	flex: 1 0 120px;
}
.timeline-unit h5 {
	color: #999;
	line-height: 18px;
}
.timeline-unit p {
	color: #666;
	margin-top: 5px;
}
.timeline-unit .title {
	display: flex;
	justify-content: space-between;
}
.timeline-unit .timeline-date {
	color: #fdc750;
	font-size: 14px;
	padding: 2px 6px;
}

.skills-section {
	display: flex;
	flex-direction: column;
	flex: 0 1 270px;
}
.skills-section > * {
	margin-bottom: 20px;
}
.skills {
	display: flex;
	flex-direction: column;
}
.skill {
	display: flex;
	margin-bottom: 15px;
}
.skill h4 {
	color: #444;
	flex-grow: 1;
}
.skill .rating {
	display: flex;
	flex: 0 0 123px;
	justify-content: space-between;
}
.skill .rating span {
	background-color: #757575;
	border-radius: 10px;
	height: 12px;
	opacity: 0.3;
	width: 12px;
}


#projects {
	padding: 20px;
}
#projects-filter {
	display: flex;
	flex-wrap: wrap;
	gap: 7px;
	border-bottom: 1px solid #ededed;
	padding: 10px 0 25px;
}
#projects-filter a {
	background-color: #666;
	color: #fff;
	padding: 6px;
}
#projects-filter a:hover {
	background-color: #fdc750;
}
#projects-filter a.current {
	background-color: #fdc750;
}

#projects-list
{
	overflow: hidden;
	width: 820px;
}
#projects-list .description{
   display:none;
}
#projects-list li
{
	background-color: #fbfbfb;
	border-bottom: 1px solid #e5e5e5;
	float: left;
	height: 185px;
	margin-bottom: 30px;
	margin-right: 25px;
	text-align: center;
	width: 180px;
}
#projects-list li:hover
{
	border-bottom: 1px solid #fdc750;
	height: 185px;
}
#projects-list img
{
	background-color: #FFF;
	height: 120px;
	width: 180px;
}
#projects-list li:hover .title
{
	color: #fdc750;
}
#projects-list li .title
{
	color: #3A3A3A;
	font-size: 14px;
	font-weight: 400;
	margin-top: 15px;
}
#projects-list li .categorie
{
	color: #999;
	font-size: 11px;
	line-height: 25px;
}

.adipoli-wrapper
{
	display: inline-block;
	margin: auto;
	position: relative;
}
.adipoli-wrapper>img
{
	position: absolute;
	z-index: 1;
}
.adipoli-before
{
	position: absolute;
	z-index: 5;
}
.adipoli-after
{
	position: absolute;
	z-index: 10;
}
.adipoli-slice
{
	display: block;
	height: 100%;
	position: absolute;
	z-index: 15;
}
.adipoli-box
{
	display: block;
	position: absolute;
	z-index: 15;
}

#certificates {
  overflow: hidden;
  padding: 40px 20px;
}
#certificates .timeline {
	float: none;
	margin-bottom: 30px;
}
#certificates .timeline li {
	float: none;
	padding-right: 30px;
}

#papers
{
	overflow: hidden;
	padding: 40px 20px;
}
.listings-section
{
   float: left;
}
.left-heading
{
   width:490px;
   padding-right:60px;
   float:left;
}
.right-heading
{
   float:left;
   width:270px;
}
.intouch
{
   float:left;
   position:relative;
   word-spacing:7px;
   font-size:16px;
}

#blog
{
	overflow: hidden;
	padding: 20px;
	position: relative;
}
.blog-content-wrapper
{
	float: left;
	margin-bottom: 30px;
	min-height: 100px;
	width: 530px;
}
.blog-entry
{
	background-color: #f8f8f8;
	float: left;
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%;
}
.blog-entry img
{
	filter: alpha(opacity=80);
	float: left;
	opacity: 0.8;
	width: 530px;
}
.blog-entry h3
{
	clear: both;
	color: #3A3A3A;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	padding: 20px 15px 15px 15px;
}
.blog-entry a:hover img
{
	filter: alpha(opacity=100);
	opacity: 1;
}
.blog-entry > a:hover h3
{
	color: #fdc750;
}
.blog-entry .entry-date
{
	background-color: #666;
	left: 0px;
	padding: 5px 10px;
	position: absolute;
	top: 5px;
}
.blog-entry .entry-date .day
{
	border-right: 1px solid #FFF;
	color: #fff;
	display: block;
	float: left;
	font-size: 32px;
	font-weight: bold;
	padding-right: 10px;
}
.blog-entry .entry-date .month-year
{
	color: #fff;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: 600;
	line-height: 15px;
	margin: 0;
	padding: 0 0 0 7px;
	text-align: center;
}
.blog-entry p
{
	color: #666;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 15px;
	padding: 0px 15px;
}
.blog-sidebar
{
	float: left;
	margin-left: 30px;
	width: 260px;
}
.blog-single
{
	background-color: #fff;
	position: relative;
}
.blog-single h3,.blog-single p
{
	padding-left: 0px !important;
}
.comments-list
{
	margin-bottom: 30px;
}
.comment
{
	background-color: #fbfbfb;
	border-left: 1px solid #fdc750;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 12px 9px;
}
.comment-child
{
	margin-left: 20px;
}
.comment-child .comment-meta,.comment-child .comment-body
{
	width: 430px !important;
}
.comment img
{
	float: left;
}
.comment .comment-meta,.comment .comment-body
{
	float: left;
	margin-left: 10px;
	width: 450px;
}
.comment .comment-meta h4
{
	color: #333;
	display: inline-block;
	font-weight: 400;
}
.comment .comment-meta p
{
	color: #ccc;
	display: inline-block;
	font-size: 11px;
	font-style: italic;
	margin-left: 15px;
}
.comment .comment-meta .reply
{
	color: #ddd;
	float: right;
}
.comment .comment-meta .reply:hover
{
	color: #fdc750;
}
.comment .comment-body p
{
	color: #909090;
	font-size: 11px;
	line-height: 16px;
	margin-top: 8px;
}


#page_nav
{
	background-color: #8c8c8c;
	border-radius: 0px 4px 4px 0px;
	color: #f7f7f7;
	display: block;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin: 10px 0px 0px -20px;
	moz-border-radius: 0px 4px 4px 0px;
	overflow: hidden;
	padding: 6px;
	text-align: center;
	webkit-border-radius: 0px 4px 4px 0px;
	width: 150px;
}
#page_nav:hover
{
	background-color: #fdc750;
}
.loading-msg img
{
	display: none;
}
.popular-posts-widget
{
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%;
}
.popular-posts-widget li
{
	background-color: #fbfbfb;
	margin-bottom: 4px;
	padding: 10px;
}
.popular-posts-widget li:last-child
{
	border-bottom: none;
}
.popular-posts-widget li h2
{
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 4px;
}
.popular-posts-widget li h2 a:hover
{
	color: #fdc750;
}
.popular-posts-widget li span
{
	color: #999;
	font-size: 11px;
}
.flicker-stream-widget
{
	margin-bottom: 30px;
	overflow: hidden;
}
.flicker-stream-widget li
{
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}
.flicker-stream-widget li img
{
	height: 60px;
	opacity: 0.6;
	width: 60px;
}
.flicker-stream-widget li img:hover
{
	opacity: 1;
}
.loading
{
	background-color: #ededed;
	border-radius: 3px;
	color: #333;
	display: none;
	font-size: 14px;
	moz-border-radius: 3px;
	padding: 10px 20px;
	webkit-border-radius: 3px;
}
.blog-single-close
{
	color: #ddd;
	color: #FFF;
	float: right;
	font-size: 14px;
	font-weight: 300;
}
.blog-single-close i
{
	font-family: 'icomoon';
	font-size: 18px;
	vertical-align: top;
}
.blog-single-close:hover
{
	color: #fdc750;
}
.text-widget
{
	line-height: 20px;
	padding-bottom: 30px;
}


#contact
{
	overflow: hidden;
	padding: 30px 0;
}
.contact-info, .contact-form
{
	float: left;
	padding: 0 20px;
}
.contact-info
{
	width: 250px;
}
.contact-form
{
	width: 530px;
}
.contact-info ul
{
	border-left: 1px solid #fdc750;
	float: left;
	padding-left: 18px;
}
.contact-info ul li
{
	color: #666;
	font-size: 13px;
	line-height: 20px;
	overflow: hidden;
}


#map
{
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	height: 300px;
	margin-bottom: 25px;
	width: 100%;
}
form .input,form textarea
{
	background-color: #FDFDFD;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	box-shadow: inset 0 5px 16px -13px #333;
	color: #666;
	font-size: 12px;
	height: 30px;
	moz-border-radius: 2px;
	moz-box-shadow: inset 0 5px 16px -13px #333;
	outline: none;
	padding: 6px 10px;
	resize: none;
	webkit-border-radius: 2px;
	webkit-box-shadow: inset 0 5px 16px -13px #333;
	width: 100%;
}
form textarea
{
	height: 112px;
	line-height: 18px;
	margin-bottom: 0;
	padding-top: 8px;
}
form p
{
	margin-bottom: 15px;
}
form p label
{
	color: #999;
	display: block;
	font-size: 13px;
	margin-bottom: 8px;
}
.button {
	background-color: #666;
	border: none;
	display: inline-block;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	moz-border-radius: 3px;
	padding: 8px;
	webkit-border-radius: 3px;
}
.button:hover
{
	background-color: #fdc750;
}
.success, .error
{
	border-radius: 3px;
	margin-bottom: 10px;
	moz-border-radius: 3px;
	padding: 10px;
	webkit-border-radius: 3px;
}
.success
{
	background-color: #E3EBC6;
	border: 1px solid #C2D288;
	color: #8FA442;
}
.error
{
	background-color: #f9e5e6;
	border: 1px solid #f7c7c9;
	color: #b3696c;
}
footer
{
	height: 20px;
	margin-top: 20px;
}
footer .copyright
{
	color: #333;
	float: left;
	padding-left: 6px;
}
div.footer
{
	height: 20px;
	margin-top: 20px;
}
div.footer .copyright
{
	color: #333;
	float: left;
	padding-left: 6px;
}
.isotope-item
{
	z-index: 2;
}
.isotope-hidden.isotope-item
{
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item
{
	moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
	webkit-transition-duration: 0.8s;
}
.isotope
{
	moz-transition-property: height, width;
	transition-property: height, width;
	webkit-transition-property: height, width;
}
.isotope .isotope-item
{
	moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
	webkit-transition-property: -webkit-transform, opacity;
}

@media screen and (min-width: 768px) and (max-width: 959px)
{
	#container
	{
		width: 750px;
	}
	.about
	{
		width: 410px;
	}
	.about h1
	{
		font-size: 30px;
		line-height: 38px;
	}
	.about h3
	{
		font-size: 14px;
		line-height: 14px;
	}
	.personal-info
	{
		margin-right: 10px;
		width: 280px;
	}
	.personal-info li span
	{
		width: 190px;
	}
	.timeline-section
	{
		padding-right: 30px;
		width: 380px;
	}
	.skills-section
	{
		width: 300px;
	}
	#projects-list
	{
		width: 750px;
	}
	#projects-list li
	{
		margin-right: 60px;
	}
	.blog-content-wrapper
	{
		width: 420px;
	}
	.blog-entry img
	{
		width: 420px;
	}
	.comment .comment-meta,.comment .comment-body
	{
		float: left;
		margin-left: 10px;
		width: 330px;
	}
	.comment-child .comment-meta,.comment-child .comment-body
	{
		width: 310px !important;
	}
	.contact-info
	{
		width: 250px;
	}
	.contact-form
	{
		width: 420px;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px)
{
	#container
	{
		width: 470px;
	}
	.socialicons
	{
		margin-top: 9px;
	}
	.socials-text
	{
		display: none !important;
	}
	.about
	{
		display: block;
		width: 420px;
	}
	.about h1
	{
		font-size: 30px;
		line-height: 38px;
	}
	.about h3
	{
		font-size: 14px;
		line-height: 14px;
	}
	.personal-info
	{
		background: none;
		border-top: 1px solid #fdc750;
		display: block;
		margin-top: 0;
		width: 420px;
	}
	.personal-info li span
	{
		width: 280px;
	}
	.skills-section
	{
		width: 420px;
	}
	.skills li h4
	{
		width: 260px;
	}
	.timeline-section
	{
		padding-right: 60px;
		width: 420px;
	}
	#projects-list
	{
		width: 450px;
	}
	#projects-list li
	{
		margin-right: 40px;
	}
	.blog-content-wrapper
	{
		width: 430px;
	}
	.blog-entry img
	{
		width: 430px;
	}
	.blog-sidebar
	{
		margin-left: 0px;
		width: 430px;
	}
	.comment .comment-meta,.comment .comment-body
	{
		width: 350px;
	}
	.comment-child .comment-meta,.comment-child .comment-body
	{
		width: 320px !important;
	}
	.contact-info
	{
		width: 420px;
	}
	.contact-form
	{
		margin-top: 20px;
		width: 420px;
	}
}

/**
 * Styles for small screens (below 480px wide)
 */
@media screen and (max-width: 479px) {
	#container {
		margin-top: 10px;
		width: 300px;
	}
	header {
		height: 20px;
	}
	.socialicons {
		display: none;
	}
	.about {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		text-align: center;
		margin: 30px 0 10px 0;
		width: 100%;
	}
	.about > * {
		flex: 1 100%;
	}
	.about .photo-inner {
		background: url(../images/photo-inner.png) no-repeat center;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.about h1 {
		font-size: 30px;
		line-height: 38px;
		margin: 0;
	}
	.personal-info {
		background: none;
		margin: 10px;
		min-height: 200px;
		padding: 0;
		width: 100%;
	}
	.personal-info li {
		font-size: 13px;
	}
	.personal-info li span {
		width: 190px;
	}
	.tabs li.active {
		margin-top: 0;
		background-image: none;
	}
	.timeline-section {
		padding: 0;
		width: 100%;
	}
	.skills-section {
		width: 100%;
	}
	.skills li h4 {
		width: 120px;
	}
	#projects-list {
		width: 100%;
	}
	#projects-list li {
		margin-left: 40px;
	}
}

/**
 * On screens where the pixel density is 2 times higher, use a larger tab image
 * https://developer.mozilla.org/en-US/docs/Web/CSS/resolution
 */
@media screen and (resolution: 2dppx) {
	.tabs li.active {
		background: url('../images/tab-hover@2x.png') no-repeat;
		background-size: 116px 114px;
	}
}
