body {
	background-color: #E8E8E8;
	font-family: 'open Sans', Arial;
	font-size: 12px;
	line-height: 1;
}

h1 {
	font-size: 37px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 13px;
}

h3.main-heading {
	border-bottom: 1px solid #ebebeb;
	color: #333;
	font-size: 16px;
	font-weight: 600;
	padding: 14px 0;
	position: relative;
}
h3.main-heading::after {
	background: #fdc750;
	bottom: -1px;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	width: 40px;
}

a {
	color: inherit;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

.page {
	padding: 20px 20px 60px;
}

.button {
	display: inline-block;
	background-color: #8c8c8c;
	border-radius: 3px;
	color: #f7f7f7;
	cursor: pointer;
	font-size: 13px;
	padding: 8px;
}
.button:hover {
	background-color: #fdc750;
}

#container {
	margin: 0 auto;
	width: 860px;
}
header {
	padding: 10px 0;
	margin: 20px 0;
}
#content {
	background-color: #FFF;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
footer {
	color: #333;
	margin-top: 20px;
	padding-left: 6px;
}
.hidden {
	display: none;
}
.transition {
	transition: all .5s ease;
}
.description {
	color: #b9b9b9;
	font-size: 13px;
	text-align: center;
}
.description a {
	color: #fdc750;
}
.description a i {
	font-family: 'icomoon';
}

.socialicons {
	display: flex;
	justify-content: flex-end;
	gap: 2px;
}
.socialicons * {
	background-color: #222;
	color: #FFF;
}
.socialicons a {
	font-family: 'icomoon';
	font-size: 16px;
	padding: 6px 8px;
}
.socialicons a:hover {
	color: #fdc750;
}
.socialicons .socials-text {
	height: 10px;
	padding: 9px;
}

#profile {
	display: flex;
	align-items: center;
	background: #fdc750 url(../images/header-shadow.png) no-repeat bottom;
	padding: 42px 20px;
}
#profile .photo-inner {
	background: url(../images/photo-inner.png) no-repeat;
	float: left;
	padding: 0 25px 0 20px;
}
.personal {
	display: flex;
}
.about {
	flex: 0 0 300px;
}
.about h1 {
	color: #FFF;
	font-weight: 900;
	line-height: 34px;
}
.about h3 {
	color: #FFF;
	font-size: 18px;
	margin-top: 8px;
}
.about p {
	color: #a87f09;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-top: 15px;
}

.info {
	background: url(../images/personal-info-sep.png) no-repeat left;
	display: grid;
	grid-template-columns: 100px auto;
	row-gap: 1.4em;
	font-size: 14px;
	color: #a87f09;
	padding-left: 30px;
}
.info label {
	font-weight: 600;
}
.info span {
	font-weight: 300;
}

.menu {
	background-color: #ededed;
}
.tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tabs li {
	padding: 17px 0;
}
.tabs li > a {
	color: #b9b9b9;
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	width: 115px;
	transition: top ease 0.5s;
	position: relative;
	top: 0;
}
/** 
 * only apply hover style on devices with hover capabilities
 * to prevent sticky hover state:
 * https://stackoverflow.com/a/28058919/9698467
 */
@media (hover:hover) {
	.tabs li:not(.active) > a:hover {
		top: -10px;
	}
}
.tabs li.active {
	margin-top: -11px;
	background: url('../images/tab-hover.png') no-repeat;
}
.tabs li.active a {
	color: #fdc750;
}
.tabs li > a > i {
	display: block;
	font-family: 'icomoon';
	font-size: 45px;
	margin-bottom: 5px;
}

#resume {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#resume .download-resume {
	width: 100%;
	padding: 10px 0;
}
#resume .button {
	border-radius: 0 4px 4px 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin-left: -20px;
	text-align: center;
	width: 250px;
}

.timeline-section {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 540px;
}
.timeline-unit {
	border-left: 1px solid #fdc750;
	line-height: 17px;
	padding-left: 15px;
}
.timeline-unit h4 {
	color: #444;
	line-height: 24px;
}
.timeline-unit h5 {
	color: #999;
	line-height: 18px;
}
.timeline-unit p {
	color: #666;
	margin-top: 5px;
}
.timeline-unit .title {
	display: flex;
	justify-content: space-between;
}
.timeline-unit .timeline-date {
	color: #fdc750;
	font-size: 14px;
	padding: 2px 6px;
}

.skills-section {
	display: flex;
	flex-direction: column;
	flex: 0 1 240px;
	gap: 20px;
}
.skills {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.skill {
	display: flex;
}
.skill h4 {
	color: #444;
	font-size: 14px;
	flex-grow: 1;
}
.skill .rating {
	display: flex;
	flex: 0 0 123px;
	justify-content: space-between;
}
.skill .rating span {
	background-color: #757575;
	border-radius: 10px;
	height: 12px;
	opacity: 0.3;
	width: 12px;
}

#projects {
	padding: 20px;
}
#projects-filter {
	display: flex;
	flex-wrap: wrap;
	gap: 7px;
	border-bottom: 1px solid #ededed;
	padding: 10px 0 25px;
}
#projects-filter a {
	background-color: #666;
	color: #fff;
	padding: 6px;
}
#projects-filter a:hover {
	background-color: #fdc750;
}
#projects-filter a.current {
	background-color: #fdc750;
}

#projects-list {
	width: 820px;
}
.project {
	background-color: #fbfbfb;
	border-bottom: 1px solid #e5e5e5;
	height: 185px;
	margin-bottom: 30px;
	margin-right: 25px;
	text-align: center;
	width: 180px;
}
.project:hover {
	border-bottom: 1px solid #fdc750;
}
.project:hover .title {
	color: #fdc750;
}
.project img {
	height: 120px;
	width: 180px;
}
.project .title {
	color: #3A3A3A;
	font-size: 14px;
	font-weight: 400;
	margin-top: 15px;
}
.project .category {
	color: #999;
	font-size: 11px;
	line-height: 25px;
}

#certificates {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#papers {
	display: grid;
	grid-template-columns: 5fr 2fr;
	grid-gap: 20px;
}
#papers .authors {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
#papers .author {
	display: flex;
	color: #333;
	gap: 10px;
}
#papers .author a:hover {
	color: #fdc750;
}
#papers .author i {
	font-family: 'icomoon';
	font-size: 15px;
}


/**
 * Styles for medium size screens (768px to 959px)
 */
@media screen and (min-width: 768px) and (max-width: 959px) {
	#container {
		width: 750px;
	}
	#profile .photo-inner {
		padding: 0 35px 0 20px;
	}
	.personal {
		flex-direction: column;
		gap: 30px;
	}
	.about {
		flex-basis: 0;
	}
	.about h1 {
		font-size: 30px;
		line-height: 38px;
	}
	.info {
		background: none;
		padding: 0;
	}
	.timeline-section {
		width: 430px;
	}
	/* somehow acts as a spacer to allow 3 projects to fit on a row */
	#projects-list li {
		margin-right: 60px;
	}
}


/**
 * Styles for small screens (500px to 767px)
 */
@media screen and (min-width: 500px) and (max-width: 767px) {
	#container {
		width: 470px;
	}
	.socials-text {
		display: none;
	}
	.personal {
		flex-direction: column;
		gap: 30px;
	}
	.about {
		flex-basis: 0;
	}
	.about h1 {
		font-size: 30px;
		line-height: 38px;
	}
	.info {
		background: none;
		padding: 0;
	}
	#resume {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	.timeline-section {
		width: 100%;
	}
	.skills-section {
		margin-top: 20px;
	}
	#projects-list {
		width: 430px;
	}
	#papers {
		display: flex;
		flex-direction: column;
	}
	#papers .auth-title {
		display: none;
	}
	#papers .authors {
		border-left: 1px solid #fdc750;
		padding-left: 15px;
	}
}


/**
 * Styles for extra small screens (below 499px wide)
 */
@media screen and (max-width: 499px) {
	#container {
		width: 320px;
	}
	header {
		margin: 0;
	}
	.socialicons {
		display: none;
	}
	#profile {
		flex-direction: column;
	}
	#profile .photo-inner {
		padding: 0 20px;
	}
	.personal {
		flex-direction: column;
	}
	.about {
		flex-basis: 0;
		text-align: center;
		margin-top: 10px;
	}
	.about h1 {
		font-size: 30px;
		line-height: 38px;
	}
	.info {
		background: none;
		margin-top: 20px;
		padding: 10px;
	}
	.tabs li.active {
		margin-top: 0;
		background-image: none;
	}
	#resume {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	.timeline-section {
		width: 100%;
	}
	.skills-section {
		margin-top: 20px;
	}
	#projects-list {
		width: 100%;
	}
	#projects-list li {
		margin-left: 40px;
	}
	#papers {
		display: flex;
		flex-direction: column;
	}
	#papers .auth-title {
		display: none;
	}
	#papers .authors {
		border-left: 1px solid #fdc750;
		padding-left: 15px;
	}
}


/**
 * On screens where the pixel density is 2 times higher, use a larger tab image
 * https://developer.mozilla.org/en-US/docs/Web/CSS/resolution
 */
@media screen and (resolution: 2dppx) {
	.tabs li.active {
		background: url('../images/tab-hover@2x.png') no-repeat;
		background-size: 116px 114px;
	}
}
